<div class="start-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-5 col-xl-5 bg-color p-0">
                <div class="contact-header px-5 py-3 border-bottom">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="menu-contect d-flex align-baseline">

                                <div class="images">
                                    <span class="btn btn-white-icon"><img src="./assets/images/menu_icon.svg"></span>
                                </div>

                                <div class="contect ms-2 mt-1">
                                    <h3>Contacts</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-6">

                            <div class="menu-arrow d-flex justify-content-end gap-2 me-4">
                                <div class="left-arrow">
                                    <span class="btn btn-white-icon"> <img src="./assets/images/left-arrow.svg"></span>
                                </div>

                                <div class="right-arrow">
                                    <span class="btn btn-white-icon"><img src="./assets/images/right-arrow.svg"></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="main-search px-5 py-3">
                    <div class="search-email mt-1">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="contact-search ms-2 mt-1">
                                    <p>Search for a contact</p>
                                    <h5>Name, email or phone number</h5>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="search-icon text-end pe-5 mt-4">
                                    <img src="./assets/images/search-icon.svg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nichols-gorden mt-4" *ngFor="let in of counter(5) ;let i = index">
                        <div class="row">
                            <div class="col-12 col-md-1 col-lg-1">
                                <div class="images-profile-save position-relative ">
                                    <img src="./assets/images/profile-new.svg">
                                    <span class="dots-new-icon user-status bg-success">
                                        
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="nichols-id">
                                    <h3>Nicholas Gordon</h3>
                                    <p>Developer</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 col-lg-5">
                                <div class="nichols-social d-flex justify-content-end gap-2 me-4">
                                    <span class="btn btn-white-icon"> <img src="./assets/images/chat-icon.svg"></span>
                                    <span class="btn btn-white-icon"> <img src="./assets/images/phone-icon.svg"></span>

                                    <span class="btn btn-white-icon"><img src="./assets/images/three-dots.svg" class="three-dots"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-7 col-xl-7">
                <div class="Johanna-profile">
                    <div class="row">

                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">

                            <div class="profile-content d-flex pt-5 justify-content-center">
                                <div class="profile-image">
                                    <img src="./assets/images/profile-image.svg">
                                </div>

                                <div class="profile-image-new ms-3">
                                    <div class="profile-detals">
                                        <h3>Johanna Stevens</h3>
                                        <p>UI/UX Designer</p>
                                    </div>

                                    <div class="massage-button d-flex mt-3 pt-1">
                                        <button class="btn btn-primary">
                                            <img src="./assets/images/icon-massage.svg">
                                            Message
                                        </button>

                                        <div class="button-right-icon mx-1">
                                            <span class="btn btn-white-icon mx-1">
                                                <img src="./assets/images/phone-icon.svg">
                                            </span>
                                            <span class="btn btn-white-icon mx-1">
                                            <img src="./assets/images/downlod-icon.svg">
                                            </span>
                                            <span class="btn btn-white-icon mx-1">
                                            <img src="./assets/images/three-dots.svg" class="three-dots-new">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="bio-new d-flex mt-4 justify-content-center">
                                <span>Bio</span>
                                <p>When I first got into the advertising, I was looking for the magical combination that would put website into the top search engine rankings</p>
                            </div>

                            <div class="bio-button d-flex justify-content-between">
                                <div class="bio-paragpah">
                                    <div class="bio-new d-flex mt-4">
                                        <span>Eamil</span>
                                        <p>johanna.stevens@gmail.com</p>

                                    </div>
                                    <div class="johanan-steves">
                                        <p>johanna.stevens@gmail.com</p>
                                    </div>
                                </div>

                                <button class="btn btn-secondary mt-4">
                                    Primery
                                </button>
                            </div>
                            <div class="bio-new d-flex mt-4">
                                <span>Dial</span>
                                <p>j.stevens@ymsg.com</p>
                            </div>

                            <div class="bio-new d-flex mt-4 ">
                                <span>Meeting</span>
                                <p>http://go.betacall.com/meet/j.stevens</p>
                            </div>

                            <div class="bio-button d-flex justify-content-between">
                                <div class="bio-paragpah">
                                    <div class="bio-new d-flex mt-4">
                                        <span>Phone</span>
                                        <p>439-582-1578</p>

                                    </div>
                                    <div class="johanan-steves">
                                        <p>439-582-1578</p>
                                    </div>
                                </div>

                                <button class="btn btn-secondary mt-4">
                                    Primery
                                </button>
                            </div>

                            <div class="bio-button ">
                                <div class="bio-new-class d-flex align-items-center mt-4">
                                    <span class="social-new">Social</span>

                                    <div class="bottom-social-icon">
                                        <span class="btn btn-white-icon me-1"><img src="./assets/images/facebook.svg"></span>
                                        <span class="btn btn-white-icon mx-1"><img src="./assets/images/pin-icon.svg"></span>
                                        <span class="btn btn-white-icon mx-1"> <img src="./assets/images/tweter.svg"></span>
                                        <span class="btn btn-white-icon mx-1"> <img src="./assets/images/linkdin.svg"></span>
                                        <span class="btn btn-white-icon mx-1"><img src="./assets/images/google.svg"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="col-12 col-md-6 col-lg-1 col-xl-3">

                        </div> -->
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>